@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #000;
}
* {
  cursor: none !important;
}
.grid-background {
	background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
	background-size: 32px 32px;
	transform: perspective(500px) rotateX(60deg);
	transform-origin: top;
}

.grid-overlay {
	position: absolute;
	inset: -100% 0 0 0;
	background: linear-gradient(to bottom, transparent 0%, rgba(13, 17, 23, 0.5) 40%, #0d1117 100%);
}
.perspective {
  perspective: 900px;
}
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
}

.animate-gradient-x {
  background-size: 200% auto;
  animation: gradient-x 4s ease infinite;
}

@keyframes float {
	0% {
		transform: translateY(0px) rotate(0deg);
	}

	50% {
		transform: translateY(-20px) rotate(10deg);
	}

	100% {
		transform: translateY(0px) rotate(0deg);
	}
}

.animate-float {
	animation: float 6s ease-in-out infinite;
}

.animate-pulse-slow {
	animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

	0%,
	100% {
		opacity: 0.1;
	}

	50% {
		opacity: 0.3;
	}
}

html {
	scroll-behavior: smooth;
}